@import url('./reset.css');

:root {
  font-family: 'Outfit', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(68, 122, 34, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ----------- Container ----------- */

.container {
  padding: 20px;
}

/* ----------- Headers ----------- */

.main-header {
  text-align: center;
  margin-bottom: 20px;
}

.introduction-header {
  margin-bottom: 20px;
}

/* ----------- Films container ----------- */

.films-container {
  display: flex;
  gap: 20px;
}

/* ----------- Movie card ----------- */

.movie-card {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(231, 230, 189);
}

/* ----------- Movie info ----------- */

.info-accent {
  font-weight: bold;
}
